<div class="col-md-3">
				</div>
<div class="col-md-6">
<h1>Welcome to THE conference room scheduler!</h1>
	<p>Sign on up and take a look at all of our fancy rooms!</p>
</div>
<div class="col-md-3">

</div>