// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-3{
  ul{
    list-style: none;

    li{
      margin-bottom: 7px;
    }
  }
}

.paginate{
  float:right;
  margin-right: 10%;
  margin-top: 4px;
  background-color: #B9DA4A;
}

.col-md-4{
  ul{
    list-style: none;
    li{
      margin-bottom: 10px;
    }
  }
}